.form-h3{
    position: absolute;
    z-index: 2;
    color: antiquewhite;
    text-align: center;
    top: 7rem;
    left: calc( 50% - 75px);

}
.form{
    width: 100%;
    position: absolute;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;

    top: 10rem;
    gap: 1rem;
}
.form-input{
    width: 20%;
    background-color: rgb(245, 168, 160);

    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    border-radius: 1rem;
    border: 0.1rem black solid;
}
.form-button{
    width: 10%;
}
.form-boton{
    background-color: transparent;
}
/*_____________ @media ________________*/
/*  Descripción: Estilos para la visualización de la web en diferentes dispositivos.
Movil, tablet, ordenadores en pantalla grande */

@media (max-width:632px){
    .form-input{
        width: 40%;
    }
    .form-button{
        width: 15%;
    }
    .form-boton{
        font-size: 1em;
    }
}
@media (max-width:592px){
    .form-input{
        width: 40%;
    }
    .form-boton{
        font-size: 0.9em;
    }
}
@media (max-width:531px){
    .form-boton{
        font-size: 0.8em;
    }
}
@media (max-width:480px){
    .form-boton{
        font-size: 0.9em;
    }
}
@media (max-width:412px){
    .form-button{
        width: 20%;
    }
    .form-boton{
        font-size: 0.9em;
    }
}
@media (max-width:400px){
    .form-input{
        width: 50%;
    }
    .form-boton{
        font-size: 0.9em;
    }
}
@media (max-width:360px){
    .form-button{
        width: 25%;
    }
    .form-boton{
        font-size: 0.9em;
    }
}
@media (max-width:320px){
    .form-boton{
        font-size: 0.9em;
    }
}